@page "/Vehicles/Index"
@model CajunCars.Pages.Vehicles.IndexModel

@{
    ViewData["Title"] = "Index";
}

@{
    Layout = null;
}


<!DOCTYPE HTML>
<!--
Solid State by HTML5 UP
html5up.net 
Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="/assets/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload">

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>

    <!-- Menu -->


    <nav id="menu">
        <div class="inner">
            <h2>Menu</h2>
            <ul class="links">
                <li>
                    <a asp-area="" asp-page="/Landing">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Employ/Index">Employees</a>
                </li>
              <li>
                                  <a asp-area="" asp-page="/Vehicles/Index">Vehicle Inventory</a>
                              </li>
                              <li>
                                  <a asp-area="" asp-page="/SoldVehi">Sold Vehicles</a>
                              </li>
                                <li>
                                                  <a asp-area="" asp-page="/Commission">Commissions</a>
                                              </li>
            </ul>
            <a href="#" class="close">Close</a>
        </div>
    </nav>

<h1>Vehicles</h1>



 <a class="button primary" asp-page="Create">Add New Vehicles</a>
    <a class="button primary" asp-page="VehicleSearch">Search Vehicles</a>
    
<table class=”sortable”>
    <thead>
        <tr>
        <th>
                        @Html.DisplayNameFor(model => model.StoredVehicle[0].Vin)
                    </th>
            <th>
                @Html.DisplayNameFor(model => model.StoredVehicle[0].Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoredVehicle[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoredVehicle[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoredVehicle[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoredVehicle[0].Hp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoredVehicle[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoredVehicle[0].DId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StoredVehicle) {
        <tr>
         <td>
                        @Html.DisplayFor(modelItem => item.Vin)
                    </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Vin">Transfer</a> |
               @* <a asp-page="./Details" asp-route-id="@item.Vin">Details</a> | *@
                <a asp-page="./VehicleSale" asp-route-id="@item.Vin">Sale</a> 
              
            </td>
        </tr>
}
    </tbody>
</table>
    
</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>