@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
  Layout = null;
}




@*
<!-- Page Wrapper -->
<div class="login">
    
    <form method="post" asp-page="Index">
        <table>
            <tr>
                <td>Username</td>
                <td><input type="text" asp-for="@Model.UName" /></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" asp-for="@Model.UPass" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Login" /></td>
            </tr>
        </table>
    </form>
    
    <h4>@Model.MSG</h4>
</div>

*@
<!DOCTYPE HTML>
<html lang="en" >
<html>
<head>
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
   <link rel="stylesheet" href="~/userCSS/loginCSS.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>  
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>

<body class="body">

<div class="login-page">
  <div class="form">

    <form method="post" asp-page="Index">
        <input type="text" placeholder="&#xf007;  username" asp-for="@Model.UName"/>
        <input type="password" id="password" placeholder="&#xf023;  password" asp-for="@Model.UPass" />
         <i class="fas fa-eye"></i> 
        <br>
      <br>
      <button>LOGIN</button>
        <p>@Model.MSG </p>
    </form>
  </div>
</div>

</body>
</html>

